* {
  box-sizing: border-box;
  margin: 0;
}

/* Reset CSS */

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: #FFF;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.6252632141113281px;
}

.fill-button {
  width: 211px;
  height: 60px;
  padding: 19px 60px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.171764705882353;
  letter-spacing: -0.53px;
  text-align: center;
}

.fill-button.orange {
  background-color: #f55523;
}

.fill-button.purple {
  background-color: #5854d4;
}