* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'DM sans';
  color: #19191B;
}

/* Reset CSS */

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: #FFF;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0315em;
  color: #696871;
}

.fill-button {
  width: 211px;
  height: 60px;
  padding: 19px 60px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.171764705882353;
  letter-spacing: -0.53px;
  text-align: center;
  transition: opacity 200ms ease-in;
}

.fill-button:hover {
  opacity: 0.5;
}

.fill-button.orange {
  background-color: #f55523;
}

.fill-button.purple {
  background-color: #5854d4;
}

.button-group {
  display: flex;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 30px 185px 0; 
  margin-bottom: 100px;
}

.logo-image {
  width: 200px;
  height: 32px;
  margin-right: 173px;
}

.menu-group {
  display: flex;
  height: 20px;
  margin-right: auto;
}

.menu-group li {
  margin-right: 50px;
}

.menu-group li:last-child {
  margin-right: 0;
}

.menu-group li a {
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 1.172;
  letter-spacing: -0.03133333333em;
  color: #696871;
  transition: border-bottom 100ms ease;
}

.menu-group li a:hover {
  border-bottom: 2px solid #696871;
}

.fill-button.orange {
  margin-right: 0;
}

/* Main */
.main {
  display: flex;
  align-items: center;
  padding: 0 110px 0 185px;
  margin-bottom: 100px;
}

.main-text {
  margin-right: 77px;
}

.main-title {
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 1.038961038961039;
  letter-spacing: -0.031263166666em;
}

.main-desc {
  margin-bottom: 50px;
}

.main-image {
  width: 610px;
  height: 644px;
}

.fill-button.purple {
  margin-right: 40px;
}

.down-button {
  width: 60px;
  height: 60px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  background-image: url(assets/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 250ms ease-in;
}

.down-button:hover {
  background-color: #F8F8F8;
}

/* Logo groups */
.logo-groups {
  display: flex;
  padding: 0 186px;
  margin-bottom: 150px;
}

.logo-groups a {
  margin-right: 120px;
}

.logo-groups a:last-child {
  margin-right: 0;
}

/* Articles */
.article {
  display: flex;
  align-items: center;
  padding: 0 290px 0 186px;
}

.subscription.article img {
  margin-right: 165px;
}

.subscription.article div {
  width: 460px;
}

.metrics.article {
  margin-bottom: 138px;
}

.metrics.article img {
  order: 2;
}

.metrics.article div {
  order: 1;
  margin-right: auto;
}

.article-title {
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.14;
  letter-spacing: -0.0312631678581238em;
}

.article-desc {
  margin-bottom: 30px;
}

.article-link {
  font-size: 17px;
  font-weight: 900;
  line-height: 1.176470588235294;
  letter-spacing: -0.0312631621080286em;
  color: #5454D4;
} 

/* Program cards */
.program-cards {
  display: flex;
  padding: 0 185px;
  margin-bottom: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
  margin-right: 75px;
}

.card:last-child {
  margin-right: 0;
}

.card-image {
  width: 151px;
  height: 97px;
  margin-bottom: 7px;
}

.card strong {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03125em;
}

.card p {
  font-size: 16px;
  letter-spacing: -0.03125em;
  text-align: center;
}

/* Plans */
.plan {
  padding: 0 165px 149px;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}

.plan-title {
  width: 523px;
  font-size: 60px;
  line-height: 1.166666666666667;
  letter-spacing: -0.03125em;
}

.switch-button-group {
  display: flex;
  width: 344px;
  height: 65px;
  border: 5px solid #F7F7FB;
  border-radius: 15px;
  background-color: #F7F7FB;
}

.switch-button {
  width: 165px;
  padding: 0;
  border: 2px solid #F7F7FB;
  background-color: #F7F7FB;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.03125em;
  cursor: pointer;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.switch-button:hover {
  background-color: #5454D4;
  color: #fff;
}

.switch-button.left {
  border-radius: 10px 0px 0px 10px;
}

.switch-button.right {
  border-radius: 0px 10px 10px 0px;
}

.switch-button.selected {
  background-color: #5454D4;
  color: #fff;
}

.plan-box-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 473px;
}

.plan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 441px;
  margin-right: 28px;
  padding: 34px 0 27px;
  border-radius: 10px;
  background-color: #F8F8F8;
  transition: transform 200ms ease-in, background-color 200ms ease-in, color 200ms ease-in;
}

.plan-box:last-child {
  margin-right: 0;
}

.transition-text {
  transition: color 200ms ease-in;
}

.plan-box small {
  font-size: 18px;
  line-height: 1.555555555555556;
  letter-spacing: -0.031111em;
  color: #696871;
  margin-bottom: 22px;
}

.plan-price {
  font-size: 60px;
  line-height: 0.93333;
  letter-spacing: -0.017166666667em;
  margin-bottom: 28px;
}

.plan-price span {
  font-size: 28px;
  line-height: 2;
  letter-spacing: -0.036785em;
}

.plan-list {
  margin-bottom: 36px;
}

.plan-list li {
  font-family: 'Mulish';
  font-size: 17px;
  line-height: 2.94;
  letter-spacing: -0.03117em;
  text-align: center;
  color: #696871;
}

.plan-button {
  width: 285px;
  height: 60px;
  padding: 19px 0;
  border-radius: 10px;
  background-color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17647058823529;
  letter-spacing: -0.03125em;
  text-align: center;
  color: #5454D4;
  transition: color 200ms ease-in, background-color 200ms ease-in, opacity 200ms ease-in;
}

.plan-button:hover {
  opacity: 0.5;
}

.plan-box:hover {
  transform: scale(1.05);
  background-color: #FF7143;
  color: #fff;
}

.plan-box:hover .transition-text,
.plan-box:hover .plan-button {
  color: #fff;
}

.plan-box:hover .plan-button {
  width: 305px;
  background-color: #9F3919;
}