* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #19191B;
  width: 1440px;
  height: 3511px;
}

/* Reset CSS */

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: #FFF;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0315em;
  color: #696871;
}

.fill-button {
  width: 211px;
  height: 60px;
  padding: 19px 60px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.171764705882353;
  letter-spacing: -0.53px;
  text-align: center;
}

.fill-button.orange {
  background-color: #f55523;
}

.fill-button.purple {
  background-color: #5854d4;
}

.button-group {
  display: flex;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 30px 185px 0; 
  margin-bottom: 100px;
}

.logo-image {
  width: 200px;
  height: 32px;
  margin-right: 173px;
}

.menu-group {
  display: flex;
  height: 20px;
  margin-right: auto;
}

.menu-group li {
  margin-right: 50px;
}

.menu-group li:last-child {
  margin-right: 0;
}

.menu-group li a {
  padding-bottom: 10px;
  font-family: 'DM sans';
  font-size: 15px;
  line-height: 1.172;
  letter-spacing: -0.03133333333em;
  color: #696871;
  transition: border-bottom;
}

.menu-group li a:hover {
  border-bottom: 2px solid #19191B;
}

.fill-button.orange {
  margin-right: 0;
}

/* Main */
.main {
  display: flex;
  align-items: center;
  padding: 0 110px 0 185px;
  margin-bottom: 100px;
}

.main-text {
  margin-right: 77px;
}

.main-title {
  margin-bottom: 30px;
  font-family: 'DM Sans';
  font-size: 80px;
  line-height: 1.038961038961039;
  letter-spacing: -0.031263166666em;
}

.main-desc {
  margin-bottom: 50px;
}

.main-image {
  width: 610px;
  height: 644px;
}

.fill-button.purple {
  margin-right: 40px;
}

.down-button {
  width: 60px;
  height: 60px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  background-image: url(assets/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Logo groups */
.logo-groups {
  display: flex;
  padding: 0 186px;
  margin-bottom: 150px;
}

.logo-groups a {
  margin-right: 120px;
}

.logo-groups a:last-child {
  margin-right: 0;
}

/* Articles */
.article {
  display: flex;
  align-items: center;
  padding: 0 290px 0 186px;
}

.subscription.article img {
  margin-right: 165px;
}

.subscription.article div {
  width: 460px;
}

.metrics.article {
  margin-bottom: 138px;
}

.metrics.article img {
  order: 2;
}

.metrics.article div {
  order: 1;
  margin-right: auto;
}

.article-title {
  margin-bottom: 30px;
  font-family: 'DM Sans';
  font-size: 50px;
  line-height: 1.14;
  letter-spacing: -0.0312631678581238em;
}

.article-desc {
  margin-bottom: 30px;
}

.article-link {
  font-family: 'DM Sans';
  font-size: 17px;
  font-weight: 900;
  line-height: 1.176470588235294;
  letter-spacing: -0.0312631621080286em;
  color: #5454D4;
} 

/* Program cards */
.program-cards {
  display: flex;
  padding: 0 185px;
  margin-bottom: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
  margin-right: 75px;
}

.card:last-child {
  margin-right: 0;
}

.card-image {
  width: 151px;
  height: 97px;
  margin-bottom: 7px;
}

.card strong {
  margin-bottom: 20px;
  font-family: 'DM Sans';
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03125em;
}

.card p {
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03125em;
  text-align: center;
}

/* Plans */
.regular-plan {
  padding: 0 165px;
}

.plan-header {
  display: flex;
  justify-content: space-between;
}

.plan-title {
  width: 523px;
  font-family: 'DM Sans';
  font-size: 60px;
  line-height: 1.166666666666667;
  letter-spacing: -0.03125em;
}